* {
  font-family: 'Roboto', sans-serif;
}

.details {
  background-color: #F0F0F2;
}

.header-container {
  position: relative;
}

.favorite-btn, .share-btn {
  margin-top: 10px;
  width: 60px;
  border: none;
  outline: none;
}

.back-btn, .BiArrowBack {
  width: 60px;
  left: 0;
  top: 0;
  position: absolute;
	padding: 10px 5px;
  background-color: transparent;
  border: none;
}

.title-container {
  padding: 10px 0 0 15px ;
}

.recipe-title {
  padding: 10px 0 0 10px ;
}

.category {
  padding-left: 11px;
  color: #A9A9A9;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
  align-items: left;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto 40px;
  padding: 45px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.video-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  border-radius: 8px;
}

.instructions-container {
  max-width: 360px;
  margin: 0 auto 40px;
  padding: 45px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.foodPhoto {
  height: auto; 
  width: 100%; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.header-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  width: 100%;
  margin-bottom: 15px;
}

.container-cards {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 200px;
  overflow: scroll;
  width: 100%;
}

.recipe-card-recommended {
  margin: 0 1em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 10em;
}

.details footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px;
}

footer {
  background-color: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finish-btn {
  color: #F0F0F2;
  background-color: #A50303;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
}

.finish-btn:disabled {
  background-color: #f35f5f;
}

.footer-details {
  color: #F0F0F2;
  background-color: #2CA503;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  border: none;
  outline: none;
  bottom: 0;
  left: 140px;
  padding: 5px;
  position: fixed;
}
