.footer {
  align-items: center;
  background-color: lightgray;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 16px 0;
  position: fixed;
  width: 100%;
}
